*, *:before, *:after {
  box-sizing: border-box;
}

body {
  /*background-image: url(''.../images/info.png'');*/
  font-family: sans-serif;
  width: 375px;
}

.container {
background-color: #red;
/*  margin: 0 auto;*/
/*  border: 2px;*/
  /*background-image: url(''.../images/info.png'');*/

}

nav {
  background-color: #d3d3d3;
  padding: 70px 0 20px 15px;
  position: fixed;
  width: 375px;
}

.day {
  background-color: #red;
  padding: 10px 0 10px 15px;
  /*position: fixed;*/
}

.exit {
  margin: 0 0 10px 310px;
  /*background-color: green;*/
  /*float: right;*/
  position: absolute;
  font-size: 10px;
  opacity: 50%;
}

h4 {
  font-size: 24px;
  font-weight: 700;
  margin-top: 5px;
}

h5{
  font-size: 14px;
  margin-top: 40px;
}

.bus-list {
  background-image: url(''../images/info.png'');
  background-color: #e9e9e9;
  padding: 150px 0 11px 0;
/*  border: 2px;
  border-radius: 12px; */
}

.bus{
  float:left;
}

.location {
  /*background-color: yellow;*/
}

.arrow {
  margin: 0 0 0 290px;
  /*background-color: green;*/
  /*float: right;*/
  position: absolute;
  font-size: 10px;
  opacity: 50%;
}
.content {
  background-color: white;
  padding: 34px 0 50px 34px;
  /*border: 2px;*/
  border-color: black;
  border-radius: 12px;
  margin: 11px 8px 0 8px;

}

h1{
  font-weight: 900;
  font-size: 34px;
/*  line-height: 1.5;*/
/*  background-color: yellow;*/
}

h2{
  /*background-color: red;*/
  float: left;
  margin: 5px 20px 0 24px;
  font-weight: 700;
}

h3{
/*  background-color: blue;*/
  float:left;
  margin: 5px;
  /*text-align: center;*/
}
